*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background:#247B85; */
}

.new{
    position: absolute;
    right: 1%;
    top: 10%;

}
.white2{
    display: none;
}
.new h2{
    color: #247B85;
    font-weight: bold;
    letter-spacing: 5px;
}
.new button{
    border: #247B85 2px solid;
    color: #247B85;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
   position: absolute;
   left: 15%;
}

.family{
    position: absolute;
    right: 21%;
    top: 10%;

}

.family h2{
    color: #247B85;
    font-weight: bold;
    letter-spacing: 5px;
}
.family button{
    border: #247B85 2px solid;
    color: #247B85;
    font-weight: bold;
    border-radius: 30px;
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
   position: absolute;
   left: 25%;
}
.bgimg{
   position: absolute;
   right: 23%;
   bottom: 0;
  
}

.left img{
    position: absolute;
    top: 10%;
    left: 20%;
}
.left h2{
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    top: 25%;
    left: 9%;
    font-size: 50px;
}
.left p{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 7%;
    width: 600px;
    text-align: center;

}
.input-container1 {
    padding: 1%;
    position: absolute;
    top: 55%;
    left: 10%;
    background: rgba(255, 255, 255, 0.938);
    border-radius: 50px;
    
}
  .icon {
    color:#247b85be;
    min-width: 50px;
    text-align: center;
    
  }
  
  .input-field {
    width: 400px;
    background: none;
    border: none;
  }
  .input-container1:hover {
    background: #cedcdd7c;
    border: solid 2px white;
    transition: 1s; 
  }
  .input-container2:hover {
    background: #cedcdd7c;
    border: solid 2px white;
    transition: 1s; 
  }
.left button{
    position: absolute;
    left: 17%;
    top: 68%;
    width: 250px;
    color: #247B85;
    background: white;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
}
.left h4{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 80%;
    left: 16%;
    font-size: 20px;
}
.google {
    
    color: white;
    position: absolute;
    top: 85%;
    left: 23%;
    padding: 0.5%;
    border: white solid 1px;
    border-radius: 200px;
}

@media only screen and (max-width: 1197px) {
    .bgimg{
        display: none;
    }
    .new{
        position: absolute;
        right: 2%;
        top: 2%;
    
    }
    .new h2{
        color: #247B85;
        font-weight: bold;
        letter-spacing: 5px;
        font-size: large;
    }
    .new button{
        width: 70%;
        padding: 1%;
        position: absolute;
        top: 63%;
    }
    .family{
        position: absolute;
        left: 2%;
        top: 12%;
    
    }
    .family h2{
        letter-spacing: 1px;
        font-size: large;
    }
    .family button{
        width: 50%;
        padding: 1%;
        position: absolute;
        top: 73%;
        left: 2%;
    }
    .left img{
        position: absolute;
        top: 28%;
        left: 40%;
    }
    .left h2{
        position: absolute;
        top: 43%;
        left: 28%;
        font-size: 15px;
    }
    .left p{
        position: absolute;
        top: 50%;
        left: 6%;
        width: 84%;
        font-size: 11px;


    }
    .input-container1 {
        padding: 0.6%;
        position: absolute;
        top: 60%;
        left: 15%;
        width: 80%;
        height: 45px;
    }
   
    .input-field{
        position: relative;
        top: 7%;
        left: 5%;
        width: 70%;
        height: 70%;
    }
    .input-field:checked{
        border: none;
    }
    .icon{
        position: relative;
        top: 14%;
    }
    .left button{
        position: absolute;
        left: 20%;
        top: 72%;
        width: 250px;
    }
    .left h4{
        position: absolute;
        top: 80%;
        left: 20%;
        font-size: 20px;
    }
    .google {
        position: absolute;
        top: 85%;
        left: 47%;
    }
    .white1{
        display: none;
    }
    .white2{
        display: flex;
    }
   
  }
 

